body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color:#fff
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}

/* -----------------HEADER------------- */


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-logo-color {
    color: #2E2F42;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.header-menu-link:hover {
    color: #404bbf;
}
.header-menu-link:focus {
    color: #404bbf;
}

.header-addres{
    font-style: normal;
}

.header-addres-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.header-addres-link:hover{
    color: #404bbf;
}
.header-addres-link:focus{
    color: #404bbf;
}


/* -----------------SOLUTIONS------------- */

.solutions {
    background-color: #2E2F42;
}
.solution-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.solution-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: left;
    color: #fff;
    cursor: pointer; 
    background-color: #4D5AE5;
}
.solution-btn:hover {
    background-color: #404bbf;
}
.solution-btn:focus{
    background-color: #404bbf;
}


/* ---------------FEATURE---------------- */



.features-list{
}

.features-item{
}

.features-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

/* -----------------OURTEAM------------- */
.ourteam {
    background-color: #F4F4FD;
}

.ourteam-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

.ourteam-list {
}

.ourteam-item {
    background-color: #FFFFFF
}

.ourteam-img {}

.ourteam-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42
}

.outem-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}

/* -----------------OURPORTFOLIO------------- */


.ourportfolio {}

.ourportfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42
}

.ourportfolio-list {
    background-color: #FFFFFF
}

.ourportfolio-item {}

.ourportfolio-img {}

.ourportfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42
}

.ourportfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455
}


/* -----------------FOOTER------------- */


.footer{
    background-color: #2E2F42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    }

.footer-logo-color {
    color: #f4f4fd;
    }

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd
}